astroid==1.4.4
beautifulsoup4==4.4.1
bs4==0.0.1
colorama==0.3.7
lazy-object-proxy==1.2.1
numpy==1.11.0
pylint==1.5.4
scikit-learn==0.17.1
scipy==0.17.0
six==1.10.0
sklearn==0.0
wrapt==1.10.6
lxml==3.5.0
openpyxl==2.3.3